/************************************
		Commons style sheet
************************************/
* {
	padding:0px;
	margin:0px;
	font-family:"나눔고딕";
}

.header_menu, .section1_d1, .section2, .section3, .footer_menu,
section.login, section.join, section.mypage, section.notice, 
section.board, section.admin {
	/* border:1px solid blue; */
	width:1000px;
	margin:auto;
	}
	
section.login form[name='loginForm'], section.join form[name='joinForm'],
section.mypage > div, section.notice table, section.board table,
section.admin > div {
	border:1px solid red;
	width:70%;
	margin:auto;
}
	
.title {
	border-left:10px solid #333;
	border-bottom:1px solid #333;
	width:30%;
	font-size:23pt;
	padding:5px 0px 10px 20px;
	margin:30px 0px 30px 100px;
	font-style:italic;
}

.btn_style_j { /* 버튼 공통 스타일*/
	background:#E71A0F;
	color:white;
	border-style:none;
	font-size:16px;
	margin:2px 5px;
	padding:3px 5px;
	border-radius:8px;
	width:130px;
}

.btn_style { /* 버튼 공통 스타일_풀이용 */
	width:130px;
	padding:7px 0px;
	background:tomato;
	color:white;
	font-size:13px;
	font-weight:700;
	border:1px solid white;
	outline:1px solid red;
}

.btn_style:hover {
	cursor:pointer;
	background:yellow;
	color:#E71A0F;
}

/************************************
		Header style sheet
************************************/
header {
	/* border:1px solid red; */
	background-image:url("http://localhost:9000/ju_myCGV/images/bg_header.gif");
	height:149px;
}
		
.header_menu nav, .header_menu ul li{
	/* border:1px solid blue; */
	list-style-type:none;
	display:inline-block;
	}
	
.header_menu > div {
	/* border:3px solid blue; */
	clear:both;
	position:relative;
}

.header_menu > div > a {
	/* border:2px solid red; */
	width:136px;
	height:59px;
	position:absolute;
	left:10px;
	top:11px;
}

.header_menu > div > div {
	/* border:2px solid green; */
	width:234px;
	height:32px;
	position:absolute;
	left:350px;
	top:11px;
}

.header_menu > nav.nav1 > ul {
	width:100%;
	height:30px;
	/* border:1px solid blue; */
	/* margin-left:150px; */
	padding-left:420px;
	padding-top:10px;
}
	
.header_menu > nav.nav1 > ul > li {
	float:left;
	list-style-type:none;
}	
	
.header_menu > nav.nav1 > ul > li > a {
	/* border:1px solid red; */
	width:70px;
	display:block;
	text-decoration:none;
	color:gray;	
	font-size:12px;
	text-align:center;
	border-right:2px solid gray;
	
	}
	
.header_menu > nav.nav1 > ul > li:last-child > a {
	border-right:none;
	color:tomato;
	}

 .header_menu > div > div > nav.nav2 {
	/* border:1px solid red; */ 
	width:300px;
	height:32px;
	text-align:center;
	margin-left:-35px;
	padding-top:10px;
}

 .header_menu > div > div > nav > ul > li > a {
	/* border:4px solid green; */
	text-decoration:none;
	color:#555;
	/* margin-left:-10px; */
	padding:0px 10px;
	font-weight:bold;
 }
		
/************************************
	Index-Content style sheet
************************************/
.section1 {
	background-image:url("http://localhost:9000/ju_myCGV/images/carousel_bg.png");
	height:450px;
}
		
.section1_d1, .section2, .section3 {
	/* border:1px solid blue; */
	width:1000px;
	text-align:center;
	}
	
.section2 div:first-child, .section3 div:first-child {
	/* border:1px solid red; */
	padding:20px 0px;
}	

.section2 div:nth-child(2) {
	/* border:1px solid green; */
	/* display:inline-block; */	
	float:left;
}

.section2 > img {
	/* border:1px solid green; */
	height:400px;
	float:right;
	
}

.section3 {
	/* border:1px solid green; */
	clear:both;
}

.section3 div:nth-child(2) {
	/* border:1px solid green; */
	/* display:inline-block; */	
	padding-bottom:20px;
	border-bottom: 5px solid #555;
}	

.section3 div:nth-child(3) {
	/* border:1px solid green; */
	/* display:inline-block; */	
	padding:20px 0px;
}	

.section3 div:nth-child(3) > img:first-child,.section3 div:nth-child(3) > img:last-child {
	border:7.5px double black;
	/* outline:3px double black; */
}		

.section3 > div:nth-child(2) > img:first-child, .section3 > div:last-child  > img:first-child {
	/* border:1px solid green; */
	float:left;
}

.section3 > div:nth-child(2) > img:last-child, .section3 > div:last-child  > img:last-child {
	/* border:2px solid green; */
	float:right;
}

.section3 > div:nth-child(2) > img:nth-child(2), .section3 > div:nth-child(2) > img:nth-child(3) {
	/* border:2px solid red; */
	margin:0px 3px;
}

.section3 > div:nth-child(3) > img:nth-child(2) {
	/* border:2px solid green; */
}
	

	
/************************************
	footer style sheet
************************************/
/* footer {
	border:1px solid green;
	height:500px;	
} */

.footer_bg {
	/* border:1px solid green; */
	text-align:center;
	background:#FFDB99;
	margin-top:30px;
}

.footer_bg > img {
	/* border:1px solid red; */
	margin-top:-58px;
}

.footer_menu ul {
	/* border:1px solid red; */
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	border-bottom:1px solid lightgray;
}

.footer_menu ul > li {
	/* border:1px solid red; */
	float:left;
}

.footer_menu ul > li:last-child {
	/* border:1px solid red; */
	float:right;
}

.footer_menu ul > li > a {
	/* border:1px solid red; */
	display:block;
	text-decoration:none;
	padding:30px 32px 30px 2px;
	color:#777;
	font-size:12px;
	font-weight:700;
}

.footer_menu ul > li:last-child > a {
	padding: 30px 0px 30px 2px;
}

.footer_menu ul > li:nth-child(6) > a {
	color:black;
	text-decoration:underline;
} 

.footer_menu ul > li > a:hover {
	text-decoration:underline;
}

.footer_menu > div  {
	/* border:1px solid red; */
	margin-top:50px 0px;
	padding-top:20px;
}

.footer_menu > div > p {
	font-size:12px;
	color:#777;
	padding:3px 0px;
}


/************************************
		Login Form style sheet
************************************/
section.login ul {
	/* border:1px solid green; */
	list-style-type:none;
}

section.login ul li {
	/* border:1px solid green; */	
	padding:3px 0px;
}

section.login ul li label {
	/* border:1px solid green; */
	display:inline-block;
	width:70px;
}

section.login ul li a {
	/* border:1px solid green; */
	text-decoration:none;
	color:#E71A0F;
	padding:0px 10px;
}

section.login ul li a:hover {
	color:green;
}



