/************************************
		Commons style sheet
************************************/
* {
	padding:0px;
	margin:0px;
	font-family:"³ª´®°íµñ";
}

/************************************
		Header style sheet
************************************/
header {
	background-image:url("http://localhost:9000/ju_myCGV/images/bg_header.gif");
	height:149px;
}
		
.header_menu {
	border:1px solid red;
	width:1000px; 
	height:300px;
	margin:auto;
	}

.header_menu nav, .header_menu ul  li{
	/* border:1px solid blue; */
	list-style-type:none;
	display:inline-block;
	float:right;
	}
	
.header_menu > div {
	clear:both;
	
}
	
.header_menu > nav.nav1 > ul > li {
	
	
}	
	
.header_menu > nav.nav1 > ul > li > a {
	border:2px solid red;
	display:block;
	text-decoration:none;
	color:gray;	
	width:100px;
	font-size:12px;
	float:left;
	text-align:center;
	}

.header_menu nav1 {
	/* border:1px solid green; */
}

.header_menu nav2 {
	/* border:1px solid blue; */
}
		
/************************************
	Index-Content style sheet
************************************/
.section1 {
	background-image:url("http://localhost:9000/ju_myCGV/images/carousel_bg.png");
	height:450px;
}
		
.section1_d1, .section2, .section3 {
	border:1px solid blue;
	width:1000px;
	margin:auto;
	}